.header .logo{
    font-size: 23px;
    margin-top: 16px;
    font-weight: bold;
}

.element-error-messages{
    color : #f00;
    font-size: 12px;
}

.bold
{
    font-weight: bold;
}


.paginator-header{
    border : 1px solid #eee;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 11px 11px;
}

.thumb-info .thumb-info-inner{
    font-size: small;
    white-space: normal;
}

.ui-autocomplete.ui-widget-content{
    z-index: 1100;
}

._header_search_profileimage{
    width: 64px;
    height: 64px; 
    border-radius: 500px;
}

._header_search_item #title{
    font-size: 18px;
    margin-left: 5px;
    text-wrap: none;
}

._header_search_item #info{
    font-size: 14px;
    margin-bottom: 0px;
    margin-left: 5px;
}

.widget-summary-col .info small{
    color : #888;
    padding-left: 10px;
}