body{
    background-color: #f0f0f0;
    background: url("../../img/background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color : #555;
    padding-top: 63px;
    overflow-y: scroll;
    font-family: 'Source Sans Pro';
    margin:0;
    height: 100%;

}

#page-container-body{
    padding-bottom: 20px;
}

html{
    height: 100%;
}


h1,
h2,
h3,
h4,
h5,
h6,
h7{

    font-weight: 300;
    color:#000;
}
.btn{
    font-size: 15px;
}

.panel .panel-heading, .panel .panel-title, .panel .panel-footer {
    font-size: 16px !important;
}

.home-carousel{
    margin-top: 60px;
}


.carousel-caption {
    right: 14%;
    left: 40%;
    padding-bottom: 28px;
    top: 14%;
}

.carousel-inner .item p{
    text-align: left;
    color: #999;
    font-size: 17px;
    font-weight: 300;
}

.carousel-inner .item h1{
    text-align: left;
    font-size: 45px;
}

.page_about_acadmey .title{
    font-size: 84px;
}

.xdebug-error {
    color : #000;
    font-size: 120%;
}

.element-error-messages{
    color : #f00;
    font-size: 12px;
}

.center {
    text-align: center;
}

hr{
    border-top: 1px solid #C7C7C7;
}

._account-settings-tab-content{
    margin-top: 10px;
}

._header-profile-image{
    width: 42px;
    height: 42px;
    margin-top: 4px;
    margin-right: 8px;
    border-radius: 5px;
}

.alert-small{
    font-size: 80%;
    padding: 10px 10px;
}


.footer .head {
    font-size: 16px;
    color: #838383;
    font-weight: 800;
    text-transform: uppercase;
}

.footer .about-description {
    font-size: 17px;
    font-style: italic;
}

.footer .link-item {
    font-size: 14px;
    color: #838383;
    font-weight: 200;
    text-transform: uppercase;
}

footer {
    margin-top: 80px;
    border-top: 2px solid #79A736;
    background-color: rgba(245, 245, 245, 0.5);
    padding-bottom: 20px;

}

footer .form-control {
    background-color: #000;
    color: #eee;
}


footer .btn {
    background-color: #000;
    color: #fff;
    border-color: #f00;
    font-size: 120%;

}

.page-opinion ._opinion-item{

}
.page-opinion ._opinion-item ._name{
    margin-bottom: 0px;
}
.page-opinion ._opinion-item ._date{
    font-size: 80%;
}

._error-404{
    font-size: 200px;
}

._page-footer{
    font-size: 90%;
}


blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #F03;
    color: #888;
    font-size: 100%;
}

#page-container {
    min-height:100%;
    position:relative;
}

.bootstrap-tagsinput .tag{
    color: #fff !important;
    font-size: 18px !important;
    background-color: #25C9D7;
    border-radius: 4px;
    padding: 2px 10px 2px 0px;
}

.bootstrap-tagsinput {
    padding: 8px 6px !important;
    line-height: normal !important;
    width: 100%;
}


.elementholder{
    margin-bottom: 10px;
}

.elementfooter{
    font-size: 90%;
    color: #aaa;
}

ul.tagit li{
    float: right !important;
    display: block;
    margin: 4px 5px 3px 0 !important;
}

.tagit-new,
.tagit-choice{
    font-family: yekan;
    font-weight: normal !important;
    font-size: 20px;
    float: right  !important;
}

.table-price th{
    text-align: center;
    font-size: 200%; 
}
.table-price td{
    text-align: center;
    font-size: 150%; 
    vertical-align: middle !important;
}
.table-price .price{
    font-size: 130%;
    margin-bottom: 0px;
    vertical-align: middle;
}

.table-price .price-row td{
    font-size: 200%;
    margin-bottom: 0px;
    vertical-align: middle;
}

.table-price .title
{
    color: #FF2C54;
}

.table-price .fa-check{
    color: #0F7918;
    font-size: 166%;
}

.panel-featured-quartenary {
    border-color: #734ba9;
}

.panel-featured-primary {
    border-color: #0088cc;
    margin-bottom: 15px;
}

.panel-user{
    background-color: #734BA9 !important;
    color: white !important;
}

.panel-credit{
    background-color: #47A447 !important;
    color: white !important;
}

.panel-message{
    background-color: #5BC0DE !important;
    color: white !important;
}

.bg-warning {
    background: none repeat scroll 0 0 #fff;
    color: #ed9c28 !important;
}

.bg-success {
    background: none repeat scroll 0 0 #fff;
    color: #47a447 !important;
}

.bg-info {
    background: none repeat scroll 0 0 #fff;
    color: #5bc0de !important;
}

.panel-body {
    background: none repeat scroll 0 0 #fff;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.widget-summary .widget-summary-col.widget-summary-col-icon {
    width: 1%;
}
.widget-summary .widget-summary-col {
    display: table-cell;
    vertical-align: top;
    width: 100%;
}

.widget-summary .widget-summary-col {
    display: table-cell;
    vertical-align: top;
    width: 100%;
}

.widget-summary .summary-icon {
    border-radius: 55px;
    color: #fff;
    font-size: 4.2rem;
    height: 90px;
    line-height: 90px;
    margin-left: 15px;
    text-align: center;
    width: 90px;
}
.bg-quartenary {
    background: none repeat scroll 0 0 #fff;
    color: #734ba9 !important;
}

.widget-summary .summary {
    min-height: 65px;
    word-break: break-all;
}

.widget-summary .summary .title {
    color: #F9F9F9;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.2rem;
    margin: 0;
}

.widget-summary .summary .info {
    font-size: 1.4rem;
    line-height: 3rem;
}

.widget-summary .summary-footer {
    border-top: 1px dotted #ddd;
    padding: 5px 0 0;
    text-align: right;
}

.text-uppercase {
    text-transform: uppercase;
}
.text-muted {
    color: #F9F9F9 !important;
}

.amount{
    font-size: 300%;
    color: #fff;
}

.summery-info-title{
    font-size: 130%;
    color: #F9F9F9;
}

.table-center, .table-center tr, .table-center tr th, .table-center tr td{
    text-align: center;
}


#sequence {
    color: white;
    font-size: 0.625em;
    height: 400px;
    margin: 0 auto;
    max-width: 1920px;
    overflow: hidden;
    position: relative;
    width: 100%;

    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

#sequence img {
    max-width: 100%;
}
#sequence > .sequence-canvas {
    height: 400px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
#sequence h2 {
    border: medium none;
    color: #fff;
    font-size: 4em;
    margin-top: 0;
    padding-left: 0;
    text-shadow: 2px 2px 3px #444;
}
#sequence h3 {
    color: #fff;
    font-size: 2em;
    text-shadow: 2px 2px 3px #444;
}
#sequence > .sequence-canvas > li {
    background-position: -50px 0;
    height: 400px;
    position: absolute;
    transition-property: background;
    width: 100%;
    z-index: 1;
}
#sequence > .sequence-canvas > li.bg1 {
    background-image: url("../../img/homepage-slider/slider-bg1.jpg");
}
#sequence > .sequence-canvas > li.bg2 {
    background-image: url("../../img/homepage-slider/slider-bg2.jpg");
}
#sequence > .sequence-canvas > li.bg3 {
    background-image: url("../../img/homepage-slider/slider-bg3.jpg");
}
#sequence > .sequence-canvas > li.bg4 {
    background-image: url("../../img/homepage-slider/slider-bg4.jpg");
}
#sequence > .sequence-canvas > li.bg5 {
    background-image: url("../../img/homepage-slider/slider-bg5.jpg");
}
#sequence > .sequence-canvas > li.bg6 {
    background-image: url("../../img/homepage-slider/slider-bg6.jpg");
}
#sequence > .sequence-canvas > li.bg7 {
    background-image: url("../../img/homepage-slider/slider-bg7.jpg");
}
#sequence > .sequence-canvas > li.bg8 {
    background-image: url("../../img/homepage-slider/slider-bg8.jpg");
}
#sequence > .sequence-canvas > li.bg9 {
    background-image: url("../../img/homepage-slider/slider-bg9.jpg");
}
#sequence > .sequence-canvas > li.bg10 {
    background-image: url("../../img/homepage-slider/slider-bg10.jpg");
}
#sequence > .sequence-canvas > li.bg11 {
    background-image: url("../../img/homepage-slider/slider-bg11.jpg");
}
#sequence > .sequence-canvas > li.bg12 {
    background-image: url("../../img/homepage-slider/slider-bg12.jpg");
}
#sequence > .sequence-canvas > li.bg13 {
    background-image: url("../../img/homepage-slider/slider-bg13.jpg");
}
#sequence > .sequence-canvas > li.bg14 {
    background-image: url("../../img/homepage-slider/slider-bg14.jpg");
}
#sequence > .sequence-canvas > li img {
    height: 96%;
}
#sequence > .sequence-canvas li > * {
    position: absolute;
    transition-property: left, opacity;
}
.sequence-next, .sequence-prev {
    color: white;
    cursor: pointer;
    display: none;
    font-weight: bold;
    height: 75px;
    margin-top: -47.5px;
    padding: 10px 15px;
    position: absolute;
    top: 50%;
    z-index: 1000;
}
.sequence-pause {
    bottom: 0;
    cursor: pointer;
    position: absolute;
    z-index: 1000;
}
.sequence-paused {
    opacity: 0.3;
}
.sequence-prev {
    left: 3%;
}
.sequence-next {
    right: 3%;
}
.sequence-prev img, .sequence-next img {
    height: 100%;
    width: auto;
}
#sequence-preloader {
    background: none repeat scroll 0 0 #d9d9d9;
}
.sequence-pagination-wrapper {
    bottom: 10px;
    position: absolute;
    left: 20px;
    z-index: 99;
}
.sequence-pagination {
    display: none;
    transition-duration: 0.5s;
    z-index: 99;
}
.sequence-pagination li {
    background-clip: padding-box;
    border: 4px solid #4f8db3;
    border-radius: 30px;
    cursor: pointer;
    display: inline-block;
    height: 14px;
    margin: 0 4px;
    opacity: 0.8;
    text-indent: -999em;
    transition: background 0.5s ease 0s, opacity 0.5s ease 0s;
    width: 14px;
}
.sequence-pagination li.current {
    background: none repeat scroll 0 0 #4f8db3;
    opacity: 1;
}
.sequence-next, .sequence-prev {
    opacity: 0.6;
    position: absolute;
    transition-duration: 1s;
}
.sequence-next:hover, .sequence-prev:hover {
    opacity: 1;
    transition-duration: 1s;
}
#sequence .title {
    bottom: 60%;
    font-size: 3.8em;
    left: 0;
    opacity: 0;
    text-transform: none;
    width: 35%;
    z-index: 50;
}
#sequence > .sequence-canvas > li.animate-in {
    background-position: 0 0;
    transition-duration: 1.5s;
}
#sequence .animate-in .title {
    left: 15%;
    opacity: 1;
    transition-duration: 0.5s;
}
#sequence .animate-out .title {
    left: 35%;
    opacity: 0;
    transition-duration: 0.5s;
}
.subtitle {
    color: black;
    font-size: 2em;
    left: 35%;
    opacity: 0;
    top: 40%;
    width: 35%;
}
.animate-in .subtitle {
    left: 15%;
    opacity: 1;
    transition-duration: 0.5s;
}
.animate-out .subtitle {
    left: 65%;
    opacity: 0;
    transition-duration: 0.5s;
}
.slide-img {
    height: auto !important;
    left: 90%;
    max-height: 450px !important;
    max-width: 45% !important;
    opacity: 0;
    position: relative;
    top: 20%;
}
.animate-in .slide-img {
    left: 55%;
    opacity: 1;
    transition-duration: 1s;
}
.animate-out .slide-img {
    left: 15%;
    opacity: 0;
    transition-duration: 1s;
}
@media only screen and (min-width: 992px) {
    #sequence .title {
        width: 42%;
    }
}
@media only screen and (max-width: 838px) {
    #sequence .slide-img {
        max-height: 530px !important;
        width: auto;
    }
}
@media only screen and (max-width: 768px) {
    #sequence {
        height: 400px;
    }
    #sequence .title {
        font-size: 2.8em;
    }
    #sequence .subtitle {
        font-size: 1.6em;
    }
    #sequence .sequence-next, #sequence .sequence-prev {
        height: 60px;
        margin-top: -40px;
    }
    #sequence .slide-img {
        max-height: 480px !important;
        width: auto;
    }
}
@media only screen and (max-width: 568px) {
    .slide-img {
        left: 50%;
        max-width: 80% !important;
        width: auto;
    }
    #sequence .animate-in .slide-img {
        left: 50%;
        margin-left: -40%;
    }
    #sequence .animate-out .slide-img {
        left: 20%;
        margin-left: -20%;
    }
    #sequence .title {
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
        bottom: 0;
        left: 100%;
        margin-bottom: 0;
        padding: 4%;
        width: 100%;
        z-index: 10;
    }
    #sequence .animate-in .title {
        left: 0;
    }
    #sequence .animate-out .title {
        left: -100%;
    }
    #sequence .subtitle {
        visibility: hidden;
    }
}
.home-stat{
    background-color: rgba(69, 126, 133, 0.8);
    color: #fff;
    padding-bottom: 30px;
    text-align: center;
    font-size: 19px;
}
.home-stat h2{
    color: #fff;
    font-size: 45px;
}
.home-description{
    background-color: rgba(94, 132, 69, 0.8);
    color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;    
    -webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
}
.home-description h1{
    color: rgba(91, 255, 220, 1);
    text-shadow: -2px -2px 10px rgba(150, 150, 150, 1);
}
.home-costumer{
    background-color: rgba(69, 126, 133, 0.8);
    color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
    -webkit-box-shadow: inset -6px 96px 17px -91px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -6px 96px 17px -91px rgba(0,0,0,0.75);
    box-shadow: inset -6px 96px 17px -91px rgba(0,0,0,0.75);
}
