/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 24, 2014, 3:08:02 PM
    Author     : ataalla
*/

.melk-wizard a{
    font-size: 19px;
}
.melk-wizard li{
    padding: 5px;
}

.melk-step-panel .panel-body {
    padding: 15px;
    padding-bottom: 45px;
}

.nav-pills > li.done > a,
.nav-pills > li.done > a:hover,
.nav-pills > li.done > a:focus {
    color: #fff;
    background-color: #569;
}

.melk-wizard.nav-pills > li.active > a,
.melk-wizard.nav-pills > li.active > a:hover,
.melk-wizard.nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #DF1F1F;
}


.melk-step-panel .final-step{
    padding: 50px;
    text-align: center;
}

.plan-thumbnail{
    padding: 20px 10px;
    text-align: center;
}

.plan-thumbnail .price{
    margin-top: 12px;
}
.plan-thumbnail hr{
    margin: 10px 90px;
    border-top: 1px dotted #C7C7C7;
}

.plan-thumbnail.plan-3{
    color: #fff;
    background-color: #FF1F5B;
}

.plan-thumbnail.plan-3 .price,
.plan-thumbnail.plan-3 .title
{
    color : #fff !important;
}

footer{
    bottom : auto !important;
}

.melk-search-holder
{
    padding: 25px 25px;
    background-color: #fff;
    border: 1px solid #CFCFCF;
    border-radius: 5px;
    margin-bottom: 35px;
}

label{
    font-weight: normal;
    font-size: 16px;
}

.search-result-list{
    padding: 15px;
}

body{
    color : #333;
}

.search-footer p
{
    display: none;
}

.bongah-panel li a{
    font-size: 15px;
}


.bongah-panel.nav-pills > li > a {
    background-color: #E5E5E5;
    padding: 12px;
}

.bongah-panel.nav-pills > li.active > a {
    background-color: #848;
}

.bongah-panel.nav-pills > li + li{
    padding: 5px;
}

.bold{
    font-weight : bold !important;
}