.moshaver-type .name{
    font-size: 35px;
}

.moshaver-type .img{
    height: 250px !important;
    max-height: 250px !important;
    margin: auto;
}
.moshaver-item .name{
    margin-top: 10px;
}

.moshaver-type-info h1{
    margin-top: 0px;
    font-size: 30px;
    margin-bottom: 0px;
}


.moshaverpanel-panel.nav-pills > li > a {
    background-color: #E5E5E5;
    padding: 12px;
}

.moshaverpanel-panel.nav-pills > li.active > a {
    background-color: #848;
}

.moshaverpanel-panel.nav-pills > li + li {
    padding: 5px;
}

.unpaid-question-alert .fa
{
    font-size : 206px;
}

.unpaid-question-alert{
    text-align: center;
    font-size: 25px;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0px 0px 5px #D9D9D9;
}

.unpaid-question-alert .btn{
    margin-top: 10px;
    margin-bottom: 20px;
}